<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todo.mapper.TodoMapper">
	<resultMap type="com.example.todo.model.TodoModel" id="item">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="deadline" property="deadline" />
		<result column="status" property="status" />
	</resultMap>

	<insert id="add"
		parameterType="com.example.todo.model.TodoModel">
		INSERT INTO items(
		id,
		name,
		deadline,
		status
		)
		VALUES (
		null,
		#{name},
		#{deadline},
		#{status}
		)
	</insert>

	<select id="getAll" resultMap="item">
		SELECT id, name, deadline, status
		FROM items
	</select>

	<select id="get" parameterType="Integer" resultMap="item">
		SELECT id,	name, deadline,status
		FROM items
		WHERE id = #{id}
	</select>

	<update id="update"
		parameterType="com.example.todo.model.TodoModel">
		UPDATE items
		SET
		name = #{name},
		status = #{status}
		WHERE id
		= #{id}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM items
		WHERE id =	#{id}
	</delete>

	<select id="search" parameterType="com.example.todo.model.TodoModel" resultMap="item">
		SELECT id, name, deadline, status
		FROM items
		WHERE status = 0
			AND  #{deadline} >= deadline
		<if test="name!=null">
			AND name like '%' || #{name} || '%'
		</if>
	</select>

</mapper>
